
*{
    box-sizing: border-box;
}

#display {
    width: 80%;
    margin-top: 10px;
}
.left_product_img{
    float:left;
    width:30px;
    outline: 2px solid blue;

}
img {
    width: 500px;
    height: 500px;
    display: inline-block;
}
head {
    text-align: center;
}
div right-product-img{
    float:right;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }

  .display::before{
    content: "";
    clear: both;
    display: table;
  }